<div class="payments-block">
    <button class="link link_color_accent"
    (click)="cansel()">
    Cansel
    </button>
<form class="form payments-block__form" name="paymentForm" (ngSubmit)="paymentForm.valid && makePayment()" #paymentForm="ngForm" novalidate>
  <label> Send from:
    <select class="form__input" name="sourceName" [(ngModel)]="transaction.sourceName" #sourceName="ngModel">
    <option *ngFor="let a of accounts" value="{{ a.number }}" class="card-option">
      <span class="card-option__num">{{a.number}}</span>
      <span class="card-option__num">{{a.amount}}</span>
      <span class="card-option__num">{{a.currency}}</span>
    </option>
  </select>
</label>
<!-- password="userPassword"
        confirmation="passwordConfirmation" -->
      
<!-- <fieldset class="form__group" ngModelGroup="recipientGroup"
        #recipientGroup="ngModelGroup"
        required
        >
                <input type="number" class="form__input" name="recipient" placeholder="Recipient"
                [(ngModel)]="transaction.destinationName"
                #recipient="ngModel"/>

                <select class="form__input" name="destinationName" [(ngModel)]="transaction.destinationName" #destinationName="ngModel">
                  <option *ngFor="let a of accounts" value="{{ a.number }}" class="card-option">
                    <span class="card-option__num">{{a.number}}</span>
                    <span class="card-option__num">{{a.amount}}</span>
                  <span class="card-option__num">{{a.currency}}</span>
                  </option>
              </select>
              <app-errors [control]="recipientGroup"></app-errors>
        </fieldset> -->

        <fieldset>
          <legend> Recipient:</legend>
          <div *ngIf="!inputField">
              <select class="form__input" 
              name="recipientAccount"
              #recipientAccount="ngModel"
              [(ngModel)]="transaction.destinationName" 
              required
              >
                  <option *ngFor="let a of accounts" value="{{ a.number }}" class="card-option">
                    <span class="card-option__num">{{a.number}}</span>
                    <span class="card-option__num">{{a.amount}}</span>
                  <span class="card-option__num">{{a.currency}}</span>
                  </option>
              </select>
              <app-errors [control]="recipientAccount"></app-errors>
          </div>
          
          <div *ngIf="inputField">
              <input type="text" class="form__input" 
              name="recipientManualInput" 
              #recipientManualInput="ngModel"
              placeholder="Recipient"
              [(ngModel)]="transaction.destinationName"
              required
              cardValidator
              [textMask]="{mask: numberMask}" 
             >
             <!-- maxlength="16"
              minlength="16" -->
             <app-errors [control]="recipientManualInput"></app-errors>
          </div>
          
         
          <button class="" *ngIf="!inputField" (click)="enteringRecipientNumber()">Input the recipient`s card number</button>
          <button class="" *ngIf="inputField" (click)="enteringRecipientNumber()">Select from account list</button>
        
        </fieldset>
        
         

<div class="form-group">
  <input type="number" 
  class="form__input"
  name="transactionAmount"  
  [(ngModel)]="transaction.sum" 
  #transactionAmount="ngModel"
  placeholder="Amount"
  required>
  <app-errors [control]="transactionAmount"></app-errors>
  </div>
  <!-- value="{{account}}" -->
  <input type="text" class="form__input"
  name="transactionCurrency"
  [(ngModel)]="transaction.currency"
  #transactionCurrency="ngModel"
  disabled>
  <button type="submit"
  [disabled]="!paymentForm.valid"
  class="link link_color_main">Transfer</button>
</form>

<div class="payments-block__transactions transactions">
<div class="transactions__cards-list list" *ngFor="let c of cards">
  <div class="card-item list__item">
    <span class="card-item__info">
      <span class="card-item__name">{{c.name}}</span>
      <span class="card-item__num">{{c.number}}</span>
    </span>
      <span class="card-item__sum">{{c.sum}}</span>
      <span class="card-item__currency">{{c.currency}}</span>
  </div>
  <!-- <button class="payments-block__cards-btn link" (click)="getTransactions()">Get transactions</button> -->
  <form name="dateForm" #dateForm="ngForm" (ngSubmit)="dateForm.valid && transactionsFilter(dateFrom, dateTo)" class="transactions__form form">
      <div class="transactions__date-form-group"
      ngModelGroup="dateGroup"
      #dateGroup="ngModelGroup"
      dateValidator
      from="dateFrom"
      to="dateTo">
        <!-- <input type="date" name="dateFrom" #dateFrom ngModel [value]={{currentDate | date: 'dd.MM.yyyy'}}> -->
        <!-- <input type="date" name="dateFrom" [(ngModel)]="dateFrom"> -->
        <input type="date" name="dateFrom" #dateFrom [ngModel]="currentDate | date: 'dd.MM.yyyy'" (ngModelChange)="currentDate = $event">
        <input type="date" name="dateTo" #dateTo ngModel>
        <app-errors [control]="dateGroup"></app-errors>
        <button class="link link_color_main" [disabled]="!dateForm.valid">Filter period</button>
      </div>
    </form>
    <table class="transactions__list table">
      <thead class="table__head">
        <tr class="table__row">
          <th class="table__cell table__item-date">Date</th>
          <th class="table__cell table__item-source">Soutce</th>
          <th class="table__cell table__item-recepient">Recipient</th>
          <th class="table__cell table__item-sum">Sum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!transactions" class="table__row">Select a date</tr>
        <tr *ngFor="let t of transactions" class="table__row">
          <td class="table__cell">{{t.date | date: 'dd.MM.yy'}}</td>
          <td class="table__cell">{{t.sourceName}}</td>
          <td class="table__cell">{{t.destinationName}}</td>
          <td class="table__cell">{{t.sum}}</td>
        </tr>
      </tbody>

    </table>

      <!-- <ul *ngFor="let t of transactions" class="transactions__list list">
        <li class="list__item transaction">
        <span class="transaction__date">{{t.date | date: 'dd.MM.yy'}}</span>
        <span class="transaction__sours">{{t.destinationName}}</span>
        <span class="transaction__sum">{{t.sum}}</span>
      </li>
      </ul> -->
    </div>
    </div>
</div>
