<div class="payments-block">
<form class="form payments-block__form">
  <select class="cardFrom" class="form__input" #from>
    <option *ngFor="let c of cards" value="{{ c.id }}">{{c.number}}</option>
  </select>
  <select class="cardTo" class="form__input" #to>
      <option *ngFor="let c of cards" value="{{ c.id }}">{{c.number}}</option>
  </select>

  <input type="number" name="transactionAmount" class="form__input" placeholder="Amount" #transactionAmount>
  <button type="submit"
  (click)="pay(from, to, transactionAmount)" class="link"></button>

</form>
<div class="payments-block__transactions transactions">
<div class="payments-block__cards" *ngFor="let c of cards">
  <span>{{c.name}}</span>
  <span>{{c.number}}</span>
  <!-- <button class="payments-block__cards-btn link" (click)="getTransactions()">Get transactions</button> -->
  <form name="dateForm" #dateForm="ngForm" (ngSubmit)="dateForm.valid && transactionsFilter(dateFrom, dateTo)">
      <div class="transactions__date"
      ngModelGroup="dateGroup"
      #dateGroup="ngModelGroup"
      dateValidator
      from="dateFrom"
      to="dateTo">
        <input type="date" name="dateFrom" #dateFrom ngModel>
        <input type="date" name="dateTo" #dateTo ngModel>
        <button class="transactions__btn link" [disabled]="!dateForm.valid">Filter period</button>
        <app-errors [control]="dateGroup"></app-errors>
      </div>
    </form>
      <div *ngFor="let t of transactions" class="transactions">
        <span>{{t.date | date: 'dd.MM.yyyy'}}</span>
        <span>{{t.sourceName}}</span>
        <span>{{t.sum}}</span>
      </div>
    </div>
    </div>
</div>
  