<div class="cards admin-main-screen__item vh-without-header">
  <div class="wrapper-admin">
    <h2 class="cards__title title title_color_main">Cards</h2>
    <p *ngIf="currentAccount" class="cards__text text text_color_main">For account:
      {{currentAccount.number}}
      {{currentAccount.amount}}
      {{currentAccount.currency}}</p>
    <div *ngIf="currentAccount" class="cards__item table-wrapper">
      <table class="table">
        <thead class="table__head">
          <tr class="table__row">
            <th class="table__cell">Number</th>
            <th class="table__cell table__cell_width_small">Exp</th>
            <th class="table__cell table__cell_actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr app-card-item
          *ngFor="let c of cards; let i='index'"
          class="table__row"
          [class.table__row_disable]="c.blocked"
            [card] = "c"
            [index] = "i"
            [currentAccountStatus] ='currentAccount.blocked'
            (deletingCard)="deleteCard($event)"
            >
          </tr>
          <tr *ngIf="cards.length == 0" class="table__row">
            <td class="table__cell" colspan="3">
              -
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="cards__controls">
    <app-back-btn></app-back-btn>
  </div>
</div>
