@import "../../sass/vars.sass"
.cancel-btn
  // width: 1.3rem
  // height: 1.3rem
  // border: 1px solid $mainColor
  // border-radius: 50%
  // background-color: $mainColorLight
  &::before
    content: "<<"
    font-size: 2em
    color: $mainColor
