<div class="admin-dash admin-main-screen__item vh-without-header" >
  <div class="wrapper-admin">
    <app-alert></app-alert>
    <h2 class="admin-dash__title title title_color_main">Dashboard</h2>
    <p class="admin-dash__text text text_color_main">Select a user to see details</p>
  <div class="admin-dash__users-list table-wrapper">
    <table class="table">
        <thead class="table__head">
          <tr class="table__head-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Phone</th>
            <th class="table__cell table__cell_width_20">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users; let i='index'" class="table__row table__row_clickable" >
            <td class="table__cell" [routerLink]="['./users-item', u.id]">{{u.profile.firstName}} {{u.profile.lastName}}</td>
            <td class="table__cell" [routerLink]="['./users-item', u.id]">{{u.phone}}</td>
            <td class="table__cell table__cell_actions">
                <app-spinner
                [showSpinner]="showSpinner"></app-spinner>
              <button (click)="deleteUser(i, u.id)" class="action-btn">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
