<header class="header">
        <!-- <a [routerLink]="['/user']" class="header__logo logo">
          <svg class="icon logo__icon">
            <use xlink:href="assets/svg/symbol/sprite.svg#logo-symbol"></use>
          </svg>
          Mobipay
      </a> -->
      <span class="header__logo logo">
        <!-- <svg class="icon logo__icon">
          <use xlink:href="assets/svg/symbol/sprite.svg#logo-symbol"></use>
        </svg> -->
        Mobipay
      </span>
  <button class="header__logout-link" (click)="logout()">Logout</button>
  <!-- <button class="link" (click)="getReport()" style="background-color: green">REPORT</button> -->
</header>
