@import "../../sass/vars.sass"
.header
  padding: .5rem
  display: flex
  justify-content: space-between
  box-sizing: border-box
  background-color: $mainColor
  //box-shadow: 0 1rem 0 0 lighten($mainColor, 10%)
  //margin-bottom: 1rem
  //border-bottom: 1rem solid lighten($mainColor, 20%)
  position: relative
  //border-bottom: 10px solid lighten($mainColor, 10%)
  &__logo
    font-size: 1.5rem
    color: $mainColorLight
  &__logout-link
    font-weight: 600
    text-align: right
    color: $mainColorLight
