@import "../../sass/vars.sass"
.header
  padding: 1rem $offset-one-side
  display: flex
  justify-content: space-between
  box-sizing: border-box
  background-color: $mainColor
  position: relative
  &__logo
    font-size: 1.5rem
    color: $mainColorLight
  &__logout-link
    font-family: $mainFont
    font-size: .7em
    font-weight: 700
    text-align: right
    color: $mainColorLight
