//Colors
$mainColor: #42b72a
$accentColor: #ff5722
$bgColor: #f0f0f0
$mainColorLight: #fff
$fontColor: #525252
$successColor: #42b72a
$dangerColor: #ec1010
$iconFillColor: #0d103d

//Fonts
$mainFont: WorkSans, Arial, sans-serif
//Shadows
$blocksShadow: 0px 15px 50px 0 rgba(0, 0, 0, 0.05)

//Offsets
$offset: 1.875rem
$offset-one-side: 0.9375rem
