<div class="main-screen__form-block registration">
<form name="registerForm" (ngSubmit)="registerForm.valid && register()" #registerForm="ngForm" novalidate class="form registration__form">
        <h2 class="title form__title">Registration</h2>

                <input type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required placeholder="First name" class="form__input"/>
                <app-errors [control]="firstName"></app-errors>


                <input type="text"  name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required placeholder="Last name" class="form__input"/>
                <app-errors [control]="lastName"></app-errors>



                <input type="text" class="form__input" name="userPhone" placeholder="Phone"
                [(ngModel)]="model.phone"
                #userPhone="ngModel"
                [textMask]="{mask: mask}"
                telephoneNumber
                required/>
                <app-errors [control]="userPhone"></app-errors>



                <input type="email" class="form__input" name="userEmail" placeholder="Email"
                [(ngModel)]="model.email"
                #userEmail="ngModel"
                email
                required />
                <app-errors [control]="userEmail"></app-errors>


        <fieldset ngModelGroup="passwordGroup"
        #passwordGroup="ngModelGroup"
        validateEqual
        password="userPassword"
        confirmation="passwordConfirmation">
                <input type="password" class="form__input" name="userPassword" placeholder="Password"
                [(ngModel)]="model.password"
                #userPassword="ngModel"
                passwordValidation
                minlength="6"
                required/>
                <app-errors [control]="userPassword"></app-errors>

                <input type="password" class="form__input" name="passwordConfirmation" placeholder="Confirm password"
                #passwordConfirmation="ngModel"
                ngModel
                required/>
                <app-errors [control]="passwordGroup"></app-errors>
        </fieldset>
<div class="link-box">
        <button class="link link_color_main" [disabled]="!registerForm.valid">Register</button>
        <a [routerLink]="['/login']" class="link link_color_light">Cancel</a>
      </div>
</form>
</div>
