<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <label for="lastName">User Name</label>
        <input type="text" class="form-control" name="userName" [(ngModel)]="model.username" #userName="ngModel" required />
        <div *ngIf="f.submitted && !userName.valid" class="help-block">First Name is required</div>

        <label for="phone">Phone</label>
        <input type="tel" class="form-control" name="phone" [(ngModel)]="model.phone" #userphone="ngModel" required />
        <div *ngIf="f.submitted && !userphone.valid">Phone is required</div>

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid">Password is required</div>

        <button class="btn">Register</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
</form>
