<div class="main-screen__form-block registration">
<form name="registerForm" (ngSubmit)="registerForm.valid && register()"
#registerForm="ngForm"
novalidate class="form registration__form">
        <h2 class="title form__title">Registration</h2>
<div class="form__input-wrap">
  <input type="text" name="firstName"
  [(ngModel)]="model.firstName"
  #firstName="ngModel"
  required
  id="firstName"
  class="form__input"/>
<label class="form__label" for="firstName">First name</label>
<div class="form__errors">
  <app-errors [control]="firstName"></app-errors>
</div>

</div>


<div class="form__input-wrap">
  <input type="text"  name="lastName"
  [(ngModel)]="model.lastName"
  #lastName="ngModel"
  required
  id="lastName"
  class="form__input"/>
<label class="form__label" for="lastName">Last name</label>
<div class="form__errors">
  <app-errors [control]="lastName"></app-errors>
</div>

</div>



<div class="form__input-wrap">
  <input type="text" class="form__input" name="userPhone"
  [(ngModel)]="model.phone"
  #userPhone="ngModel"
  [textMask]="{mask: mask}"
  telephoneNumber
  id="userPhone"
  required/>
  <label class="form__label" for="userPhone">Phone</label>
  <div class="form__errors">
    <app-errors [control]="userPhone"></app-errors>
  </div>

</div>



<div class="form__input-wrap">
  <input type="email" class="form__input" name="userEmail"
  [(ngModel)]="model.email"
  #userEmail="ngModel"
  email
  required
  id="userEmail" />
  <label class="form__label" for="userEmail">Email</label>
  <div class="form__errors">
    <app-errors [control]="userEmail"></app-errors>
  </div>

</div>



        <fieldset ngModelGroup="passwordGroup"
        #passwordGroup="ngModelGroup"
        validateEqual
        password="userPassword"
        confirmation="passwordConfirmation">
        <div class="form__input-wrap">
          <input type="password" class="form__input" name="userPassword"
          [(ngModel)]="model.password"
          #userPassword="ngModel"
          passwordValidation
          minlength="6"
          required
          id="userPassword"/>
          <label class="form__label" for="userPassword">Password</label>
          <div class="form__errors">
            <app-errors [control]="userPassword"></app-errors>
          </div>

        </div>

<div class="form__input-wrap">
  <input type="password" class="form__input" name="passwordConfirmation"
  #passwordConfirmation="ngModel"
  ngModel
  required
  id="passwordConfirmation"/>
  <label class="form__label" for="passwordConfirmation">Confirm password</label>
  <div class="form__errors">
    <app-errors [control]="passwordGroup"></app-errors>
  </div>

</div>

        </fieldset>
<div class="link-box form__controls">
        <button class="link-box__item link link_color_accent" [disabled]="!registerForm.valid">Register</button>
        <a [routerLink]="['/login']" class="link-box__item link link_color_light">Cancel</a>
      </div>
</form>
</div>
