<div class="accounts">

  <!-- <div *ngIf="cards.length == 0">
        You have no cards
  </div> -->
  <!-- <div *ngIf="cards.length > 0"></div> -->
  <div class="accounts__list-wrapper">
      <!-- <app-alert></app-alert> -->
      <ul class="accounts__list accounts">
          <app-account-item *ngFor="let account of accounts"
          [account] = "account">
          </app-account-item>
        </ul>


        <!-- <a [routerLink]="['../transactions', {id: userId}]" routerLinkActive="" class="accounts__link link link_color_accent">
          Make a payment
        </a> -->
  <!-- <p class="cards__add-suggestion">Add an account</p>
  <a [routerLink]="['./add-account', {id: userId}]" routerLinkActive="active" class="add-btn cards__add-btn">
    <span class="hidden">Open add form</span>
  </a> -->
  </div>

<div class="cards__add-form">
  <!-- <app-alert></app-alert> -->
  <!-- <router-outlet></router-outlet> -->
</div>
</div>
