<div class="cards">

  <!-- <div *ngIf="cards.length == 0">
        You have no cards
  </div> -->
  <!-- <div *ngIf="cards.length > 0"></div> -->
  <div class="cards__list-wrapper">
    <ul class="cards__list list">
    <app-card-item *ngFor="let card of cards"
    [card] = "card">
    </app-card-item>
  </ul>
  <p class="cards__add-suggestion">Add a card</p>
  <a [routerLink]="['./add-card', {id: userId}]" routerLinkActive="active" class="add-btn cards__add-btn">
    <span class="hidden">Open add form</span>
  </a>
  </div>
  
<div class="cards__add-form">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
</div>
