<div class="cards">

  <!-- <div *ngIf="cards.length == 0">
        You have no cards
  </div> -->
  <!-- <div *ngIf="cards.length > 0"></div> -->
  <div class="cards__list-wrapper">
      <!-- <app-alert></app-alert> -->
      <ul class="accounts__list list">
          <app-account-item *ngFor="let account of accounts"
          [account] = "account">
          </app-account-item>
        </ul>


        <a [routerLink]="['../transactions', {id: userId}]" routerLinkActive="ui__nav-link_active" class="dash__nav-link`" >
          <svg class="icon dash__link-icon">
            <use xlink:href="assets/svg/symbol/sprite.svg#transaction"></use>
          </svg><br>
          <span>Make a payment</span>
        </a>
  <!-- <p class="cards__add-suggestion">Add an account</p>
  <a [routerLink]="['./add-account', {id: userId}]" routerLinkActive="active" class="add-btn cards__add-btn">
    <span class="hidden">Open add form</span>
  </a> -->
  </div>
  
<div class="cards__add-form">
  <!-- <app-alert></app-alert> -->
  <!-- <router-outlet></router-outlet> -->
</div>
</div>
