<div class="admin-main-screen__item">
  <div class="vh-without-header admin-page">
    <div class="wrapper-admin">
        <h2 class="admin-page__title title title_color_main">Accounts</h2>
        <p *ngIf = "user" class="admin-page__text text text_color_main">
          For user: {{user.profile.firstName}}  {{user.profile.lastName}}
        </p>
      <div class="admin-page__table table-wrapper">
        <table
        class="table">
          <thead class="table__head">
            <tr class="table__row">
              <th class="table__cell">Number</th>
              <th class="table__cell">Amount</th>
              <th class="table__cell table__cell_actions">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr app-account-item *ngFor="let a of accounts; let i='index'" class="table__row"
              [class.table__row_disable]="a.blocked"
                  [account] = "a"
                  [index] = "i"
                  (rechargingAccount)="showInput($event)"
                  (deletingAccount)="deleteAccount($event)"
                 >
            </tr>
            <tr *ngIf="accounts.length == 0" class="table__row">
              <td class="table__cell" colspan="3">
                -
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="rechargeWrap"
    @rechargeWrap
    class="recharge-account">
      <div class="recharge-account__wrap">
        <div class="recharge-account__input-wrap">
          <input class="recharge-account__input" type="number"
          name="accountAmount"
          [(ngModel)]="currentAccount.amount"
          #accountAmount="ngModel"
          amountValidator
          minlength="0"
          required/>
          <span class="recharge-account__currency">{{currentAccount.currency}}</span>
          <button type="button" *ngIf="!showSpinner" [disabled]="!accountAmount.valid" class="recharge-account__btn"
          (click)="rechargeAccount()">
            <span class="hidden">Recharge an account</span>
            <svg class="icon recharge-account__icon recharge-account__icon_success">
                <use xlink:href="assets/svg/symbol/sprite.svg#success"></use>
            </svg>
          </button>
        </div>
        <div class="recharge-account__errors">
        <app-errors [control]="accountAmount"></app-errors>
      </div>
      </div>
    </div>
    <div class="admin-page__controls">
      <app-back-btn></app-back-btn>
    </div>
  </div>
</div>
