@import "../../../sass/smart-grid.sass"
@import "../../../sass/vars.sass"



.account-item
  //padding: 0 $offset-one-side $offset
  display: flex
  flex-direction: column
  padding-bottom: $offset
  @media screen and (min-width: $break_sm)
    padding-top: 3rem
  &__block-box
    padding-top: 3rem
  &__block-text
    span
      display: block
  &__active-box
    padding-bottom: $offset
    margin-bottom: $offset
    @media screen and (min-width: $break_sm)
      box-shadow: $blocksShadow

  &__info
    padding: 3.2em $offset-one-side 2.46em
    text-align: center
    background-image: $mainGradient
    color: $mainColorLight
    position: relative
    &::before
      display: block
      content: ""
      border: 1rem solid transparent
      border-bottom: 1rem solid $mainColorLight
      position: absolute
      left: 50%
      margin-left: -.5rem
      bottom: -2px




  &__info-btn
    display: inline-block
    font-size: 1.2em
    font-weight: 300
    margin-top: 1em
    color: $mainColorLight
    position: relative
    &::before
      content: "+"
      display: block
      font-size: 1.5em
      font-weight: 300
      position: absolute
      top: 0
      left: -25%
      line-height: .75
      transition: transform .6s
    &:hover
      &::before
        transform: scale(1.2)
  &__info-number
    display: block
    font-size: 1.5em
    font-weight: 700
    margin-bottom: .8em
  &__info-sum
    display: block
    font-size: 3.25em
    font-weight: 100
  &__controls
    padding: 0 $offset-one-side
    box-sizing: border-box
    margin-bottom: 2.7rem
  &__cards-list
    margin-bottom: $offset
  &__cancel-controls
    margin-top: auto
    padding: 0 $offset-one-side

.cards-list
  &__item
    font-size: 1em
    padding: 1.3em $offset-one-side
    border-bottom: 1px solid $bgColor
    text-align: center
    color: $fontColor
    background-color: $mainColorLight
  &__item-name
    font-weight: 300
    margin-right: .4em
  &__item-num
    font-weight: 700
