//@import "../../sass/smart-grid.sass"
@import "../../sass/vars.sass"
.user-interface
  &__content
    padding: $offset $offset-one-side
    background-color: $bgColor
  &__nav
    text-align: center
    margin-bottom: $offset
  &__nav-link
    min-width: 8rem
