    <td class="table__cell">{{account.number}}</td>
    <td class="table__cell">{{account.amount}}  {{account.currency}}</td>
    <!-- <td class="table__cell">{{account.currency}}</td> -->
    <td (click)="showingActions()"
    class="table__cell table__cell_color_main table__cell_actions">
      Select action
      <ul
      [@showActions]="showActions"
      class="actions-list">
        <li class="actions-list__item">
          <a [routerLink]="['../../cards', account.id]" routerLinkActive="" class="">Show cards</a>
        </li>
        <li class="actions-list__item">
          <a [routerLink]="['../../transactions', account.id]" routerLinkActive="" class="">Show transactions</a>
      </li>
        <li class="actions-list__item">
          <button (click)="deleteAccount()" class="">Delete</button>
        </li>
      </ul>
    </td>

     <!-- *ngIf="showActions" -->
