    <td class="table__cell">{{account.number}}</td>
    <td class="table__cell">{{account.amount}}  {{account.currency}}</td>
    <td (click)="showingActions()"
    class="table__cell table__cell_color_main table__cell_actions">
      Select action
      <app-spinner
      [showSpinner]="showSpinner"></app-spinner>
      <ul class="actions-list"
      [@showActions]="showActions">
        <li class="actions-list__item">
          <a [routerLink]="['../../cards', account.id]" routerLinkActive="" class="action-btn">Show cards</a>
        </li>
        <li class="actions-list__item">
          <a [routerLink]="['../../transactions', account.id]" routerLinkActive="" class="action-btn">Show transactions</a>
      </li>
        <li class="actions-list__item">
          <button (click)="deleteAccount()" class="action-btn action-btn_color_danger">Delete</button>
        </li>
        <li class="actions-list__item">
            <button *ngIf="!account.blocked" (click)="disableAccount()" class="action-btn action-btn_color_danger">Block</button>
            <button *ngIf="account.blocked" (click)="disableAccount()" class="action-btn">Unlock</button>
          </li>
      </ul>
    </td>
