<div class="formBox">
        <form name="loginForm" (ngSubmit)="loginForm.valid && login()" #loginForm="ngForm" novalidate class="form login__form">
                <h2 class="title">Login</h2>

                <div class="form__group">
                        <input type="tel" class="form__input" name="userPhone" placeholder="Phone"
                        [(ngModel)]="model.phone"
                        #userPhone="ngModel"
                        ngModel
                        
                        required/>
                        <app-errors [control]="userPhone"></app-errors>
                </div>

                <div class="form__group">              
                        <input type="password" class="form__input" name="userPassword" placeholder="Password"
                        [(ngModel)]="model.password"
                        #userPassword="ngModel"
                        ngModel
                        
                        required/>
                        <app-errors [control]="userPassword"></app-errors>
                </div>

                <button  class="link" [disabled]="!loginForm.valid">Login</button>
                <button  class="link" (click)="logout()">Log out</button>
                <a [routerLink]="['/register']" class="link">Register</a>
        </form>
</div>

<!-- Добавить в логин потом -->
<!-- [textMask]="{mask: mask}"
telephoneNumber -->
<!-- И в пароль -->
<!-- passwordValidation -->