@import "../../../sass/smart-grid.sass"
@import "../../../sass/vars.sass"
.dash
  padding: 4.7rem 0 $offset
  text-align: center
  background-image: $mainGradient
  color: $mainColorLight
  &__promo
    margin-bottom: 3.7rem
  &__prod
    font-size: .9rem
    width: 300px
    margin: 0 auto 4.7rem
  &__title
    margin-bottom: calc(#{$offset-one-side}/2)
  &__text
    margin-bottom: $offset-one-side
  &__accounts
    width: 100%
    margin-bottom: $offset
  &__transactions-link
    margin: 0 auto
