<div class="dash vh-without-header">
  <div class="wrapper-ui">
    <p class="dash__promo title">Welcome to MobiPay</p>


    <table class="dash__prod tableLight">
        <thead class="tableLight__head">
          <tr class="">
            <th class="tableLight__cell"></th>
            <th class="tableLight__cell">Sell</th>
            <th class="tableLight__cell">Buy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products" class="">
            <td class="tableLight__cell">{{p.currency}}</td>
            <td class="tableLight__cell">{{p.sellCourse}}</td>
            <td class="tableLight__cell">{{p.buyCourse}}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="dash__title subtitle">Your Accounts</h3>
      <table class="dash__accounts tableLight">
          <tbody>
            <tr *ngFor="let a of accounts"
            class="tableLight__row"
            [class.tableLight__row_disable]="a.blocked"
            >
              <td class="tableLight__cell">{{a.number}}</td>
              <td class="tableLight__cell">{{a.amount}} {{a.currency}}</td>
              <td *ngIf="!a.blocked" class="tableLight__cell">
                <a [routerLink]="['./account-item', a.id]" class="clear-btn">Details</a>
              </td>
              <td *ngIf="a.blocked" class="tableLight__cell">
                Blocked
              </td>
            </tr>
            <tr *ngIf="accounts.length === 0"
            class="tableLight__row"
            >
            <td class="tableLight__cell text" colspan="3">You have no accounts</td>
            </tr>

          </tbody>
        </table>
        <div *ngIf = "accounts.length !== 0"
        class="link-box">
          <a [routerLink]="['./transactions']" routerLinkActive=""
          class="link-box__item link link_color_light" >
            Make a payment
          </a>
        </div>
    </div>
  </div>
