<div class="dash vh-without-header">
  <div class="wrapper-ui">
    <p class="dash__promo title">Welcome to MobiPay</p>


    <table class="dash__prod tableLight">
        <thead class="tableLight__head">
          <tr class="">
            <th class="tableLight__cell"></th>
            <th class="tableLight__cell">Sell</th>
            <th class="tableLight__cell">Buy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products" class="">
            <td class="tableLight__cell">{{p.currency}}</td>
            <td class="tableLight__cell">{{p.sellCourse}}</td>
            <td class="tableLight__cell">{{p.buyCourse}}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="dash__title subtitle">Your Accounts</h3>
      <p class="dash__text text">Select an account to see details</p>
      <table class="dash__accounts tableLight">
          <tbody>
            <tr *ngFor="let a of accounts"
            class="tableLight__row tableLight__row_clickable"
            [class.tableLight__row_disable]="a.blocked"
            [routerLink]="['./account-item', a.id]"
            >
              <td class="tableLight__cell">{{a.number}}</td>
              <td class="tableLight__cell">{{a.amount}}</td>
              <td class="tableLight__cell">{{a.currency}}</td>
            </tr>
          </tbody>
        </table>
        <a [routerLink]="['./transactions']" routerLinkActive="" class="dash__transactions-link link link_color_light" >
          Make a payment
        </a>
    </div>
  </div>
