
  <div class="message"
*ngIf="showWrapper"
(click)="close()"
@showWrapper>
</div>

<div
@showMarker
(clickOutside)="message=false"
(click)="close()"
*ngIf="showMarker"
class="message__marker">
  <svg @showIcon class="icon message__icon message__icon_success" *ngIf="message.type === 'success'">
    <use xlink:href="assets/svg/symbol/sprite.svg#success"></use>
  </svg>
  <svg @showIcon class="icon message__icon message__icon_danger" *ngIf="message.type === 'error'">
    <use xlink:href="assets/svg/symbol/sprite.svg#danger"></use>
  </svg>
  <svg class="icon message__icon message__icon_dots" *ngIf="message.type === 'waitingResponse'">
    <use xlink:href="assets/svg/symbol/sprite.svg#dots"></use>
  </svg>
</div>
<p @showMessage
(click)="close()"
*ngIf="showMessage && message"
class="message__text">{{message.text}}</p>


  <!-- <div *ngIf="message"
  @message
  (clickOutside)="message=false"
  class="modal">
  <p class="modal__text">{{message.text}}</p>
    <svg class="icon modal__icon modal__icon_success" *ngIf="message.type === 'success'">
      <use xlink:href="assets/svg/symbol/sprite.svg#success"></use>
    </svg>
    <svg class="icon modal__icon modal__icon_danger" *ngIf="message.type === 'error'">
      <use xlink:href="assets/svg/symbol/sprite.svg#danger"></use>
    </svg>
  <button class="close-btn" (click)="close()">
    <span class="hidden">Close the window</span>
  </button>
  </div> -->
