<div class="add-card">
<div class="wrapper-ui">
<form (ngSubmit)="addCardForm.form.valid && addCard()"
class="add-card-form add-card__form"
#addCardForm="ngForm"
id="addCardForm"
novalidate>
<div class="add-card-form__input-wrap">
  <div class="add-card-form__input-name">
    <label class="add-card-form__label" for="cardName"> Name:</label>
    <input type="text"
    name="cardName"
    id="cardName"
    [(ngModel)]="cardModel.name" #cardName="ngModel"
    required
    maxlength="15">
    <div class="form__errors">
        <app-errors [control]="cardName"></app-errors>
    </div>


  </div>

<div class="add-card-form__input-num">
<label class="add-card-form__label" for="cardNumber">Number:</label>
  <input type="tel"
  name="cardNumber"
  id="cardNumber"
  [(ngModel)]="cardModel.number"
  #cardNumber="ngModel"
  ngModel
  cardValidator
  [textMask]="{mask: numberMask}"
  required>
  <div class="form__errors">
    <app-errors [control]="cardNumber"></app-errors>
  </div>



</div>

<div class="add-card-form__input-exp">
<label class="add-card-form__label" for="cardExpiration">Expires end:</label>
  <input type="tel"
  name="cardExpiration"
  id="cardExpiration"
  [(ngModel)]="cardModel.expiration"
  #cardExpiration="ngModel"
  expiredValidator
  [textMask]="{mask: expiredMask}"
  required>
  <div class="form__errors">
      <app-errors [control]="cardExpiration"></app-errors>
  </div>
</div>
</div>


<div class="add-card__controls link-box">
  <button
      type="submit"
      class="link-box__item link link_color_main add-card-form__btn"
      [disabled]="!addCardForm.form.valid"
      form="addCardForm"
     >
      Add
      </button>
      <button type="button" class="link-box__item link link_color_accent add-card-form__btn"
      (click)="cansel()">
      Cansel
      </button>
</div>
</form>




  </div>

</div>
