@import "../../../sass/vars.sass"
.add-card
  padding: $offset 0
  &__form
    font-size: 1rem
    @media screen and (min-width: $break_xs)
      font-size: 1.3rem
    @media screen and (min-width: $break_sm)
      font-size: 1.5rem
    @media screen and (min-width: $break_sm)
      font-size: 1.8rem



.add-card-form
  width: 18em
  margin: 0 auto
  &__wrapper
    height: 11.81em
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 1.2em 1.3em
    box-sizing: border-box
    margin-bottom: 3rem
    border-radius: 10px
    box-shadow: $blocksShadow
    background-color: #4285f5
  &__errors
    margin-bottom: 3rem
    &-item
      margin-bottom: $offset-one-side
  &__label
    display: block
    font-size: .7em
    font-weight: 700
    color: $mainColorLight
  &__input
    &-name
      width: 70%
      font-size: .85em
      font-weight: 300
    &-num
      width: 100%
      font-size: 1.4em
      font-weight: 700
      background-color: $bgColor
    &-exp
      width: 25%
      font-size: 1em
      font-weight: 300
      text-align: center
      background-color: $bgColor
  input
    padding: .2em 2%
    box-sizing: border-box
    color: $mainColorLight
    background-color: #4285f5
    border: 1px solid $mainColorLight
    position: relative
    transition: .3s ease-in
    &:not(:last-child)
      margin-bottom: .3em
    &:focus
      outline: 2px solid $mainColorLight
    &.ng-touched.ng-invalid
      border-color: $dangerColor
      outline-color: $dangerColor
