<div class="userItem">
  


 
<!-- <div class="userName">
  <span class="userName">{{user.profile.firstName}}</span>
  <span class="userName">{{user.profile.lastName}}</span>
</div>
 <span class="userEmail">Email {{user.profile.email}}</span> -->
 <div class="userItem__accounts-box">
  <h3 calss="userItem__accounts-title">Accounts</h3>
  <table class="userItem__accounts-list table">
    <thead class="table__head">
      <tr class="table__row">
        <th class="table__cell">Number</th>
        <th class="table__cell">Amount</th>
        <th class="table__cell">Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of accounts; let i='index'" class="table__row">
        <td class="table__cell">{{a.number}}</td>
        <td class="table__cell">{{a.amount}}</td>
        <td class="table__cell">{{a.currency}}</td>
        <a [routerLink]="['./cards', a.id]" routerLinkActive="" class="link link_color_main">Cards</a>
        <a [routerLink]="['./transactions', a.id]" routerLinkActive="" class="link link_color_main">Transactions</a>
        <button class="link" (click)="deleteAccount(i, a.id)">Delete</button>
        
      </tr>
    </tbody>

  </table>
 </div>
 <router-outlet></router-outlet>

  
</div>
