<div class="userdItem">
  


<!-- PHONE VALIDATION ADD TO REGISTER FORM -->
<!-- <div>
  <app-errors [control]="userPhone"></app-errors>
  <span class="userPhone">Phone {{user.phone}}</span>
  <input type="tel" name="userPhone" 
  [(ngModel)]="user.phone"
  #userPhone="ngModel"
  ngModel
  telephoneNumber
  minlength="13"
  maxlength="13"
  required 
  class="form__input"/>

</div> -->


 <!-- Попросить добавить из расширенного профиля имена и почту для админ панели -->
<!-- <div class="userName">
  <span class="userName">{{user.firstName}}</span>
  <span class="userName">{{user.lastName}}</span>
</div> -->
 <!-- <span class="userEmail">Email {{user.email}}</span> -->


    <span class="userName">ID {{user.id}}</span>

    <!-- <div>
      <app-errors [control]="userPhone"></app-errors>
      <span class="userPhone">Phone {{user.phone}}</span>
      <input type="tel" name="userPhone" 
      [(ngModel)]="user.phone"
      #userPhone="ngModel"
      ngModel
      telephoneNumber
      minlength="13"
      maxlength="13"
      required 
      class="form__input"/>
    
    </div> -->

     


  <div>
    Cards
    <app-card-item *ngFor="let card of cards"
    [card] = "card">
    </app-card-item>
  </div>
  <button class="link" (click)="deleteUser()">Delete User</button>
  
</div>
