<!-- <a routerLink="/admin" routerLinkActive="active">Admin</a> -->
<!-- <app-registration></app-registration> -->
<!-- <app-login></app-login> -->
<header class="header">
    <a routerLink="/login" class="header__link link"routerLinkActive="active">Logout</a>
    <a routerLink="/admin" routerLinkActive="active" class="header__link link">Admin</a>
    <a routerLink="/user" routerLinkActive="active" class="header__link link">User</a>
    <button class="link" (click)="getReport()" style="background-color: green">REPORT</button>
</header>
<router-outlet></router-outlet>

