<!-- <a routerLink="/admin" routerLinkActive="active">Admin</a> -->
<!-- <app-registration></app-registration> -->
<!-- <app-login></app-login> -->
<div class="main-screen">
  <header class="main-screen__header header">
      <a routerLink="/login" class="header__logout-link"routerLinkActive="active">Log Out</a>
      <app-alert></app-alert>
      <span class="header__logo">
      <svg class="icon logo">
        <use xlink:href="svg/symbol/sprite.svg#logo"></use>
      </svg>
    </span>
    <!-- <button class="link" (click)="getReport()" style="background-color: green">REPORT</button> -->
</header>
<router-outlet></router-outlet>
</div>
