<form (ngSubmit)="addCardForm.form.valid && addCard()" class="addCardForm" #addCardForm="ngForm" class="form">
<h2 class="title">Add a card</h2>
    <div class="form__group">
    <input type="text"
    class="form__input" name="cardName" 
    [(ngModel)]="cardModel.name" #cardName="ngModel" 
    required placeholder="Card name">
    <div *ngIf="addCardForm.submitted && !cardName.valid">Card name is required</div>
</div>

<div class="form__group">
    <input type="number" class="form__input" name="cardNumber" 
    [(ngModel)]="cardModel.number" 
    #cardNumber="ngModel" 
    placeholder="Card number"
    required>
    <div *ngIf="addCardForm.submitted && !cardNumber.valid">Card number is required</div>
</div>

<div class="form__group">
    <input type="date" class="form__input" name="cardExpiration" 
    [(ngModel)]="cardModel.expiration" #cardExpiration="ngModel" 
    placeholder="Expiration term" required>
    <div *ngIf="addCardForm.submitted && !cardExpiration.valid">Expiration term is required</div>
</div>

<!-- <div class="form__group">
    <input type="number" class="form__input" name="cardVerification" 
    [(ngModel)]="cardModel.verification" 
    #cardVerification="ngModel"
    placeholder="CVV2-code"
    required>
    <div *ngIf="addCardForm.submitted && !cardVerification.valid">CVV2-code is required</div>
</div> -->

<div class="form__group">
    <input type="number" class="form__input" name="cardBalance" 
    [(ngModel)]="cardModel.balance" #cardBalance="ngModel" 
    placeholder="Card balance"/>
</div>
    <button (click)="addCard()"
    type="submit"
    class="link"
    [disabled]="!addCardForm.form.valid">
    ADD
    </button>
</form>