@import "../../../../sass/vars.sass"
@import "../../../../sass/smart-grid.sass"
.add-card
  padding: $offset 0
  &__form
    font-size: 1rem
    margin: 0 auto 4rem
    @media screen and (min-width: $break_xs)
      font-size: 1.3rem
    @media screen and (min-width: $break_sm)
      font-size: 1.5rem
    @media screen and (min-width: $break_sm)
      font-size: 1.8rem
  &__controls
    width: 80%
    margin: 0 auto

.add-card-form
  width: 18em
  height: 11.81em
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 1.2em 1.3em
  box-sizing: border-box
  border-radius: 10px
  border: 1px solid $fontColor
  box-shadow: $blocksShadow
  background-color: $mainColorLight
  input
    padding: .2em 2%
    box-sizing: border-box
    color: $fontColor
    &:not(:last-child)
      margin-bottom: .3em

  &__label
    display: block
    font-size: .7em
    font-weight: 700
    color: $btnColor
  &__input

    &-name
      width: 70%
      font-size: .85em
      font-weight: 300
      border: 1px solid $bgColor

    &-num
      width: 100%
      background-color: $bgColor
      font-size: 1.4em
      font-weight: 700
    &-exp
      width: 21%
      background-color: $bgColor
      font-size: 1em
      font-weight: 300
