        <td class="table__cell">{{card.number}}</td>
        <td class="table__cell">{{card.expiration}}</td>
        <td (clickOutside)="showActions=false" class="table__cell table__cell_color_main table__cell_actions">
        <button class="action-btn" (click)="showingActions()">Select action</button>
      <app-spinner
      [showSpinner]="showSpinner"></app-spinner>
      <div class="table__actions"
      [@showActions]="showActions"
      >
        <ul  *ngIf="showActions" class="actions-list actions-list_scroll-behavior">

        <li class="actions-list__item">
            <button class="action-btn action-btn_color_danger" (click)="deleteCard()">Delete</button>
        </li>
        <li *ngIf="!currentAccountStatus" class="actions-list__item">
            <button class="action-btn action-btn_color_danger" *ngIf="!card.blocked" (click)="disableCard()">Block</button>
            <button class="action-btn" *ngIf="card.blocked" (click)="disableCard()">Unlock</button>
        </li>
      </ul>
    </div>
    </td>
