@import "../../sass/vars.sass"
.errors
  padding: .8em 1.2em
  font-size: .6em
  font-weight: 700
  text-align: center
  color: red
  background-color: $mainColorLight
  box-shadow: $blocksShadow
  border-radius: 10px
  &__item
    margin-bottom: .3em
  &::before
    content: ""
    position: absolute
    right: 19%
    bottom: 0
    transform: translateY(100%)
    border: 10px solid transparent
    border-top: 10px solid $mainColorLight
