/* You can add global styles to this file, and also import other style files */
@import "sass/reset.sass"
@import "sass/smart-grid.sass"
@import "sass/vars.sass"
//Edit
body
  font-family: $mainFont
.wrapper
  // +wrapper
  max-width: 1100px
  margin: 0 auto

.row
  +row-flex
.logo
  font-size: 7.5em
  color: $mainColorLight
  text-align: center
.title
    //font-size: 2.25em
    font-size: 4.06em
    font-weight: 300
    margin: 0 auto
    //color: $fontColor
    color: $mainColorLight
.subtitle
  font-size: 1.125em
  font-weight: 300
  color: $fontColor



.form
  padding: $offset $offset_one_side
  //text-align: center
  // border-radius: 5px
  // background-color: $mainColorLight
  &__title
    margin-bottom: .8em
    text-align: center
  

  &__group:last-of-type
    margin-bottom: $offset
    //border-bottom: 1px solid $bgColor
    

  &__input
    width: 100%
    //font-size: 1.5em
    font-size: 1.18em
    //padding: 1.08em $offset-one-side
    padding: 2.14em $offset-one-side 1.02em
    //border-top: 1px solid $bgColor
    box-sizing: border-box
    border-bottom: 2px solid $mainColorLight
    font-weight: 300
    //color: $fontColor
    color: $mainColorLight
    text-align: left
    background-color: transparent
    //text-align: center
    &::placeholder
      font-weight: inherit
      color: inherit
    .ng-invalid.ng-touched
        border-color: red
  &__controls
    display: flex
    justify-content: space-between
    margin-left: -$offset-one-side
    margin-right: -$offset-one-side
    .link
      flex: 1
      margin: 0 $offset-one-side

.link
  display: inline-block
  min-width: 6.61rem
  font-size: 1.1rem
  //padding: 1em
  padding: .7em
  box-sizing: border-box
  font-weight: 700
  border-radius: 3px
  text-align: center
  color: $mainColorLight
  box-shadow: $blocksShadow
  &_color
    &_main
      //background-color: $mainColor
      background-color: $fontColor
    &_accent
      //background-color: $accentColor
      background-color: $bgColor
      color: $fontColor
    &_light
      background-color: $mainColorLight
      color: $fontColor
      box-shadow: $blocksShadow

.add-btn
  display: inline-block
  width: 4rem
  height: 4rem
  border-radius: 100%
  border: .5rem solid lighten($accentColor, 10%)
  background-color: $accentColor
  position: relative
  &::before
    content: "+"
    font-size: 3.5rem
    color: $mainColorLight
    font-weight: 700
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


.list
  border-radius: 5px
  background-color: $mainColorLight
  box-shadow: $blocksShadow
  &__item
    padding: 1.6em $offset-one-side
    border-bottom: 1px solid $bgColor
.card-item
  font-size: 1.125em
  display: flex
  justify-content: space-between
  &__info
    text-align: left
  &__name
    color: $fontColor
    font-weight: 400
  &__num
    color: $fontColor
    font-weight: 600
  &__sum
    font-weight: 600
    color: $mainColor
    text-align: right

.table
  table-layout: fixed
  width: 100%
  text-align: center
  border-collapse: collapse
  border: 1px solid $fontColor
  &__head
    background-color: darken($bgColor, 20%)
  &__item-date
    width: 20%
  &__item-recepient
    width: 50%
  &__item-sum
    width: 30%
  &__cell
    padding: 1em 2%


.hidden
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
