/* You can add global styles to this file, and also import other style files */
@import "sass/reset.sass"
@import "sass/smart-grid.sass"
@import "sass/vars.sass"
//Edit
body
  font-family: $mainFont
.wrapper
  // +wrapper
  max-width: 1100px
  margin: 0 auto

.row
  +row-flex
.logo
  display: inline-block
  font-size: 3em
  text-transform: uppercase
  font-weight: 700
  margin-left: 1em
  color: $mainColorLight
  text-align: center
  position: relative
  &__icon
    width: 1em
    height: 1em
    position: absolute
    top: -.4em
    left: 0
    transform: translateX(-94%)
    fill: $mainColorLight
.title
    //font-size: 2.25em
    font-size: 1.6em
    font-weight: 300
    // margin: 0 auto
    //color: $fontColor
    color: $mainColorLight
    &_color
      &_main
        color: $mainColor

.subtitle
  font-size: 1.35em
  font-weight: 700
  color: $mainColorLight
  &_color
    &_main
      color: $mainColor
.text
  font-size: .8em
  font-weight: 300
  color: $mainColorLight
  &_color
    &_main
      color: $mainColor





.form
  padding: $offset_one_side
  //text-align: center
  // border-radius: 5px
  // background-color: $mainColorLight
  &__title
    margin-bottom: .8em
    text-align: center


  &__group:last-of-type
    margin-bottom: $offset-one-side
    //border-bottom: 1px solid $bgColor


  &__input
    width: 100%
    //font-size: 1.5em
    font-size: 1.18em
    //padding: 1.08em $offset-one-side
    padding: 1.2em $offset-one-side 1.02em
    margin-bottom: $offset-one-side
    //border-top: 1px solid $bgColor
    box-sizing: border-box
    border-bottom: 2px solid $mainColorLight
    font-weight: 300
    //color: $fontColor
    color: $mainColorLight
    text-align: left
    background-color: transparent
    //text-align: center
    &::placeholder
      font-weight: inherit
      color: inherit
    .ng-invalid.ng-touched
        border-color: red
    &_color
      &_dark
        border-bottom: 2px solid $fontColor
        color: $fontColor
  &__switch-box
    margin-bottom: $offset-one-side
    text-align: center
  &__switch-input-btn
    padding: .2em .5em
    border-radius: 6px
    color: $mainColorLight
    background-color: $fontColor


  &__controls
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: -$offset-one-side
    margin-right: -$offset-one-side
    .link
      flex: 1
      margin: 0 $offset-one-side
      &:not(:last-child)
        margin-bottom: 1.02em

.link
  display: block
  min-width: 6.61rem
  font-size: 1.1rem
  padding: 1.1em
  box-sizing: border-box
  font-weight: 700
  border-radius: 15px
  text-align: center
  color: $mainColorLight
  box-shadow: $blocksShadow
  &_color
    &_main
      //background-color: $mainColor
      background-color: $fontColor
    &_accent
      //background-color: $accentColor
      background-color: $mainColor
      color: $mainColorLight
    &_light
      background-color: $bgColor
      color: $fontColor
      box-shadow: $blocksShadow
.cancel-btn
  // width: 1.3rem
  // height: 1.3rem
  // border: 1px solid $mainColor
  // border-radius: 50%
  // background-color: $mainColorLight
  position: relative
  &::before
    content: "<<"
    font-size: 2em
    color: $mainColor
.delete-btn
  color: $dangerColor
  // position: relative
  // &::before
  //   content: "x"
  //   font-size: 2em
  //   color: $dangerColor
  //   position: absolute
  //   top: 50%
  //   left: 50%
  //   transform: translate(-50%, -50%)



.list
  font-size: 1.125em
  color: $fontColor
  //border-radius: 5px
  background-color: $mainColorLight
  //box-shadow: $blocksShadow
  &_clear
    background-color: transparent
    color: $mainColorLight
  &__item
    display: flex
    justify-content: space-between
    padding: 1.3em $offset-one-side
    border-bottom: 1px solid $bgColor
  &__accent-line
    padding: .5em $offset-one-side
    text-align: right
    color: $mainColorLight
    background-color: $fontColor
.card-item
  font-size: 1.125em
  display: flex
  justify-content: space-between
  &__info
    text-align: left
  &__name
    color: $fontColor
    font-weight: 400
  &__num
    color: $fontColor
    font-weight: 600
  &__sum
    font-weight: 600
    color: $mainColor
    text-align: right

.table
  table-layout: fixed
  width: 100%
  text-align: center
  color: $fontColor
  border-collapse: collapse
  border: 1px solid $bgColor
  &__head
    background-color: darken($bgColor, 10%)
  &__head-row
    font-size: .9em
  &__row
    font-size: .8em
    border-bottom: 1px solid $bgColor
    &_cursor
      &_pointer
        cursor: pointer
  &__item-date
    width: 20%
  &__item-recepient
    width: 50%
  &__item-sum
    width: 30%
  &__cell
    padding: 1em 2%
    text-align: center
    &_color
      &_main
        color: $mainColor
    &_position
      &_rel
        position: relative


.tableLight
  &__row
    // &:nth-child(odd)
    //   background-color: darken($mainColor, 10%)
    border-bottom: 1px solid $mainColorLight
  &__cell
    padding: .8em $offset-one-side
    text-align: center
    
.actions-list
  width: 100%
  position: absolute
  bottom: 0
  left: 50%
  transform: translate(-50%, 100%)
  z-index: 1000
  border: 1px solid $bgColor
  color: $fontColor
  background-color: $mainColorLight
  box-shadow: $blocksShadow
  &__item
    padding: .5em 5%
    border-bottom: 1px solid $bgColor

.hidden
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
