/* You can add global styles to this file, and also import other style files */
@import "sass/reset.sass"
@import "sass/vars.sass"
@import "sass/material-datepicker.sass"


body
  font-family: $mainFont
  @media screen and (min-width: $break_xs)
    font-size: 1.35rem

//WRAPPER
.wrapper-ui
  width: 100%
  max-width: 780px
  margin: 0 auto
.wrapper-admin
  width: 100%
  max-width: 1280px
  margin: 0 auto



//LOGO
.logo
  display: inline-block
  font-size: 3em
  text-transform: uppercase
  font-weight: 700
  margin-left: 1em
  color: $mainColorLight
  position: relative
  &__icon
    width: 1em
    height: 1em
    position: absolute
    top: -.4em
    left: 0
    transform: translateX(-94%)
    fill: $mainColorLight



//TITLES
.title
    font-size: 1.6em
    font-weight: 300
    text-align: center
    color: $mainColorLight
    &_color
      &_main
        color: $mainColor

.subtitle
  font-size: 1.35em
  font-weight: 700
  text-align: center
  color: $mainColorLight
  &_color
    &_main
      color: $mainColor


//TEXT
.text
  font-size: .8em
  font-weight: 300
  text-align: center
  color: $mainColorLight
  &_color
    &_main
      color: $mainColor



//FORMS

.form
  padding: 0 $offset_one_side
  color: $mainColorLight
  text-align: left
  &__title
    margin-bottom: .8em
  &__input-wrap
    position: relative
  &__label
    font-size: 1em
    font-weight: 300
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    transition: .2s
    pointer-events: none

  &__input
    width: 100%
    padding: 1.9em $offset-one-side 1.02em
    box-sizing: border-box
    margin-bottom: $offset-one-side
    border-bottom: 1px solid $mainColorLight
    font-size: 1em
    font-weight: 300
    color: $mainColorLight
    background-color: transparent
    position: relative
    transition: .3s
    &:focus ~ .form__label,
    &.ng-dirty ~ .form__label
      top: 11%
      transform: translateY(0)
      font-size: .85em
    &.ng-touched.ng-invalid
      border-color: $dangerColor
      box-shadow: 0px -1px 0px 0px $dangerColor inset
  &__controls
    margin-top: 3rem

input::-ms-clear
  display: none

// LINKS/BUTTONS
.link-box
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  @media screen and (min-width: $break_xs)
    flex-direction: row
  &__item
    max-width: 320px
    @media screen and (max-width: #{$break_xs}-1)
      width: 100%
      &:not(:last-child)
        margin-bottom: $offset
    @media screen and (min-width: $break_xs)
      width: 50%
      &:not(:last-child)
        margin-right: $offset

.link
  display: block
  min-width: 6.61rem
  font-size: 1.1rem
  padding: 1.1em
  box-sizing: border-box
  font-weight: 700
  border-radius: 8px
  text-align: center
  color: $mainColorLight
  transition: box-shadow 0.9s .1s, color .6s
  position: relative
  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    border-radius: 8px
    transform: scaleX(1)
    transform-origin: center
    transition: .6s ease-in-out
  &:disabled
    background-color: transparent
    color: $fontColor
    box-shadow: 0 0 0 2px $fontColor
    //border-color: $fontColor
    transition: 0s
    &::before
      transform: scaleX(0)
      transition: 0s
  &:hover
    &:not(:disabled)
      box-shadow: $blocksShadow
  &_color
    &_main
      &::before
        background-color: #34aa54
    &_accent
      &::before
        background-color: $btnColor
    &_light
      color: $fontColor
      &::before
        background-color: $bgColor
    &_danger
      &::before
        background-color: $dangerColor
.clear-btn
    display: inline-block
    font-size: .8em
    font-weight: 700
    padding: .6em 3em
    border: 1px solid $mainColorLight
    border-radius: 15px
    color: $mainColorLight
    transition: all .3s ease-in
    position: relative
    z-index: 1
    overflow: hidden
    &:hover
      background-color: $mainColorLight
      color: $mainColor


.action-btn
  font-size: 1em
  font-family: $mainFont
  font-weight: 300
  &_color
    &_danger
      color: $dangerColor
    &_main
      color: $mainColor
  &:hover,
  &:active
    text-decoration: underline





// TABLES
.table-wrapper
  @media screen and (max-width: #{$break_sm}-1)
    margin-left: -$offset-one-side
    margin-right: -$offset-one-side
.table
  table-layout: fixed
  width: 100%
  text-align: center
  color: $fontColor
  border-collapse: collapse
  border: 1px solid $bgColor
  &__head
    background-color: darken($bgColor, 10%)
  &__head-row
    font-size: .9em
  &__row
    font-size: .75em
    border-bottom: 1px solid $bgColor
    &_clickable
      cursor: pointer
      &:hover
        background-color: $bgColor
    &_disable
      color: lighten($fontColor, 40%)
      background-color: $bgColor

  &__cell
    padding: 1em 2%
    text-align: center
    position: relative
    &_color
      &_main
        color: $mainColor
    &_actions
      width: 20%
      cursor: pointer
    &_width
      &_small
        width: 14%
  &__actions
    width: 505%
    max-width: 348px
    position: absolute
    top: 100%
    right: 0
    z-index: 1000

.actions-list
  border: 1px solid $bgColor
  background-color: $mainColorLight
  box-shadow: $blocksShadow
  &__item
    padding: 1em 5%
    border-bottom: 1px solid $bgColor
    color: $mainColor




//MODAL WINDOW
.modal
  width: 18.1rem
  height: 11rem
  padding: 2em $offset-one-side 1em
  display: flex
  flex-direction: column
  justify-content: space-between
  position: absolute
  top: 50%
  left: 50%
  margin-left: -9.05rem
  margin-top: -5.5rem
  z-index: 3000
  padding: 2.5rem $offset-one-side 1rem
  box-sizing: border-box
  border-radius: 8px
  text-align: center
  background-color: $bgColor
  box-shadow: $blocksShadow
  &__text
    font-size: 1.1rem
    font-weight: 700
    margin-bottom: 1.3em
    color: $fontColor
    text-align: center
  &__icon
    width: 100px
    height: 60px
    &_success
      fill: $successColor
    &_danger
      fill: $dangerColor
  &__controls
    display: flex
    justify-content: space-between
    margin: 0 -$offset-one-side
  &__confirm-btn
    flex: 1
    margin: $offset-one-side
.close-btn
  position: absolute
  top: -5%
  right: -3%
  width: 30px
  height: 30px
  border-radius: 50%
  border: 1px solid $fontColor
  background-color: $mainColorLight
  &::before
    content: "x"
    font-size: 1.3rem
    font-weight: 300
    line-height: .65
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-51%, -60%)
    color: $fontColor

// Hidden text in controls
.hidden
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

.box-height
  min-height: 100vh
  box-sizing: border-box
.vh-without-header
  min-height: calc(100vh - 61px)
  box-sizing: border-box
  display: flex
  flex-direction: column



// MAT DATEPICKER custom styles
.mat-calendar
  color: $fontColor
  box-shadow: $blocksShadow
.mat-calendar-header
  background-color: $mainColor
.mat-calendar-body-selected
  background-color: $mainColor
.mat-datepicker-toggle-active
  color: $mainColor
.mat-calendar-body-disabled
  .mat-calendar-body-cell-content
    color: lighten($fontColor, 10%)
    background-color: $bgColor
